* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 80vh ;
  max-width: 60vw;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  
  display:grid;
  grid-template-areas: 
    "header header header"
    "main main aside"
    /* "main main aside" */
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
}

header{
  grid-area: header;
  height: 0px;
  margin-bottom: 20px;
}

nav{
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

}

nav ul {
  width: auto;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  
}

nav li{
  height: 60px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black
}

nav a:hover{
  color:hsl(35, 77%, 62%) ;
}

nav li:first-child {
  margin-right: auto;
  .logo{
    margin-top: 10px;
    width: 50px;
    
  }
}

/* for hambermenu */

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.973);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;




}



.sidebar li:first-child{
  margin-top: 30px;
  width: 90%;
  text-align: right;
  
}



.sidebar a{
  width: 100%;
}

/* .sidebar .closeMenu{
  position: absolute;
  flex-direction: ;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  cursor: pointer;
} */



.menu-button{
  display: none;

}

main{
  
  grid-area: main;
  width: 100%;
  height: max-content;
}
main img{
  width: 100%;
  height: auto;
}
main .main-content{
  display: flex;
  text-align: left;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.main-content h1{
  font-size: 3rem;
  font-weight: 800;
  width: 100%;
  margin-top: 20px;
  
}

.main-content .main-con-sec{
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

/* all paragraph content here */
.content{
  font-size: 0.9rem;
  line-height: 1.3;
  color: hsl(236, 13%, 42%);
}

aside .content{
  color: hsl(233, 8%, 79%);
}

.main-con-sec button{
  width: 50%, auto;
  padding:15px 20px;
  letter-spacing: 0.2em;
  background-color: hsl(5, 85%, 63%);
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
  text-wrap: nowrap;

}

.main-con-sec button:hover{
  background-color: hsl(240, 100%, 5%);
  color: white;
}

aside{
  grid-area: aside;
  background: black;
  color: white; 
  padding: 20px;
  width: auto;
  height: max-content;
  
}

h2{
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(35, 77%, 62%);
}

aside h3{
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 20px;
}

aside h3:hover{
  color: hsl(35, 77%, 62%);
}

hr{
  width: 100%;
  margin: 10px 0;
  border: 0.5px solid hsla(233, 8%, 79%, 0.253);
}


#lower{
  grid-area: footer;
  display: flex;
  gap: 30px;
}

.lowerOuter{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.lowerOuter img{
  width: auto;
  height:130px;
  object-fit:cover;
}

.lowerContent{
  width: 100%;
}

.lowerContent h2{
  color: hsla(236, 13%, 42%, 0.486);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.lowerContent h4{
  color: hsl(240, 100%, 5%);
  font-size: 1.1rem;
  font-weight: 800;
  /* margin-bottom: 5px; */
}

.lowerContent h4:hover{
  color: hsl(5, 85%, 63%);
}




footer{
  display:none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media(max-width:500px){
  .sidebar {
    width: 80%;
  }

  main .main-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

 

  .main-content h1{
    font-size: 2.5rem;
  }


}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .menu-button {
    display: block;
  }

  body{
    display: flex;
    flex-direction: column;
  }
  body nav{
    display: grid;
    width: 95%;
    position: fixed;
    top: 0;
    padding:20px 10px;
    background-color: rgba(255, 255, 255, 0.459);
    backdrop-filter: blur(10px);
    height: 30px;
    z-index: 99;
    
  }
  main img{
    width: 100%;
    height: auto;
  }

  .main-content h1{
    font-size: 2.5rem;
  }

  #lower{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  
  
}

@media(max-width:1250px){
  body{
    max-width: 83vw;
  }
}

@media(max-width:1050px){
  body{
    max-width: 95vw;
  }
  aside{


    
    h2{
      font-size: 1.5rem;
    }
    div h3{
      font-size: 1.2rem;
    }
    .content{
      font-size: 0.7rem;
    }
    
    
  }
  
}


